name: Generate and push docs on dev

on:
  pull_request: 
  push:
    branches:
      - dev

permissions:
  contents: write  # Required for push
  
defaults:
  run:
    working-directory: ./dev
    
jobs:
  build-and-push-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Pour l'historique Git
          path: "dev"

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: "./dev/global.json"

      - name: Install docfx
        run: dotnet tool install --global docfx --version 2.78.3

      - name: Build docfx
        run: docfx || { echo 'DocFX build failed' ; exit 1; }

      - name: Deploy to docs branch
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          mkdir -p ../_site/
          cp -r _site/* ../_site/ || { echo 'Failed to copy files'; exit 1; }
          
          git fetch origin docs:docs || true
          git checkout -B docs || git checkout --orphan docs
          
          git rm -rf . || true
          find . -type f ! -name 'wrangler.jsonc' -exec rm -f {} +
          cp -r ../_site/* .
          git add .
          git commit -m "Update docs from dev ($(date))" || echo "No changes to commit"
          
          git push origin docs --force